.container {
  display: flex;
  gap: 10px;
}

.lines-container {
  display: flex;
  flex-direction: column;
}

.line {
  margin-bottom: 5px;
  height: 25px;
  width: fit-content;
  display: inline-block;
}

.line:hover {
  background-color: lightgray;
}